@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --standard-text-black: #2a2a2a;
  --standard-text-opacity-reduced-black: #15151554;
  --standard-text-contrast: #fafafa;
  --standard-text-contrast-reduced-opacity: #515151;
  --standard-text-contrast-reduced-opacity-drk: #808080;

  --body-background: #f5f3f4;

  --colour-theme-accent-main: #2a2a2a;

  --padding-y-large: 5rem; 

  --padding-b-medium: 2.5rem;
  --padding-b-small: 1.25rem;
  --padding-t-medium: 2.5rem;
  --padding-t-small: 1.25rem;
}

body {
  background-color: var(--body-background);
}
.body__background {
  background-color: var(--body-background);
}
main {
  min-height: 100dvh;
}

/* HEADING GRID */

.header__grid {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "Header Header Header SmallText MediumText";
}

#HeaderText {
  grid-area: "Header";
}
#SmallText {
  grid-area: "SmallText";
}
#MediumText {
  grid-area: "MediumText";
}

@media screen and (max-width: 800px) {
  .header__grid {
    display: block;
  }
}

/* FONT SIZING */

.text__m_body {
  font-size: 35px;
  line-height: 40px;
}

/* GRADIENTS */

.gt {
  background: linear-gradient(-45deg, #a7ab2f, #095edd);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.g__bg {
  background: linear-gradient(-45deg, #FF0F7B, #F89B29);
}

/* COLOUR SETS TEXT */

h1,
h2,
h3,
h4,
h5,
h6, 
p {
  color: var(--standard-text-black);
}

/* Classes for writing */



/* End of classes for writing */

.text__c_black {
  color: var(--standard-text-black);
}
.text__c_reduced_black {
  color: var(--standard-text-opacity-reduced-black);
}
.text__c_contrast {
  color: var(--standard-text-contrast);
}
.text__c_contrast_reduced_opacity {
  color: var(--standard-text-contrast-reduced-opacity);
}
.text__c_contrast_reduced_opacity_drk {
  color: var(--standard-text-contrast-reduced-opacity-drk);
}
/* COLOUR SETS HTML */

.accent__c_main {
  background-color: var(--colour-theme-accent-main);
}
.accent__c_black {
  background-color: var(--standard-text-black);
}
.accent__c_white {
  background-color: var(--body-background);
}

/* PADDING */

.p__y_lg {
  padding-bottom: var(--padding-y-large);
  padding-top: var(--padding-y-large);
}

.p__b_md {
  padding-bottom: var(--padding-b-medium);
}
.p__b_sm {
  padding-bottom: var(--padding-b-small);
}

.p__t_md {
  padding-bottom: var(--padding-t-medium);
}
.p__t_sm {
  padding-bottom: var(--padding-t-small);
}

/* Standard X Padding */

.standard__x_padding {
  padding-left: 1.75rem;
  padding-right: 1.75rem;  
}

/* BORDERS */

.border__left {
  border-left: 1px solid var(--colour-theme-accent-main);
}
.border__right {
  border-right: 1px solid var(--colour-theme-accent-main);
}

.bt {
  border-top: 1px solid var(--colour-theme-accent-main);
}
.bb{
  border-bottom: 1px solid var(--colour-theme-accent-main);
}

/* Phone Breakpoint */

@media screen and (max-width: 800px) {
  .standard__x_padding {
    padding-left: 0.5rem;
    padding-right: 0.5rem;  
  }
}
/* lg */
@media screen and (min-width: 1023px) {
  .standard__x_padding {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }
}
/* xl */
@media screen and (min-width: 1600px) {
  .standard__x_padding {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}



/* MISC */

.hover__transition {
  transition: all 0.3s ease-in-out;
  padding-left: 0px;
  padding-right: 0px;
}
.hover__transition:hover {
  padding-left: 10px;
  padding-right: 10px;
}

/* Hover animation */
.hover__link {
  /* display: inline-block; */
  position: relative;
  width: min-content;
}

.hover__link:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1.25px;
  width: 0;
  border-radius: 40px;
  transition: width 0s ease, background 0.5s ease;
}
.hover__link:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 1.25px;
  width: 0;
  border-radius: 40px;
  transition: width 0.5s ease;
  background-color: var(--body-background);
  mix-blend-mode: difference;
}
.hover__link:hover:before {
  width: 100%;
  background-color: var(--body-background);
  mix-blend-mode: difference;
  border-radius: 40px;
  transition: width 0.5s ease;
}
.hover__link:hover:after {
  width: 100%;
  background: transparent;
  border-radius: 40px;
  transition: all 0s ease;
}
/* Hover animation END */
/* Hover animation */
.hover__link_b {
  /* display: inline-block; */
  position: relative;
  width: min-content;
}

.hover__link_b:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1.25px;
  width: 0;
  border-radius: 40px;
  transition: width 0s ease, background 0.5s ease;
}
.hover__link_b:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 1.25px;
  width: 0;
  border-radius: 40px;
  transition: width 0.5s ease;
  background-color: var(--colour-theme-accent-main);
}
.hover__link_b:hover:before {
  width: 100%;
  background-color: var(--colour-theme-accent-main);
  border-radius: 40px;
  transition: width 0.5s ease;
}
.hover__link_b:hover:after {
  width: 100%;
  background: transparent;
  border-radius: 40px;
  transition: all 0s ease;
}
/* Hover animation END */