@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --standard-text-black: #2a2a2a;
  --standard-text-opacity-reduced-black: #15151554;
  --standard-text-contrast: #fafafa;
  --standard-text-contrast-reduced-opacity: #515151;
  --standard-text-contrast-reduced-opacity-drk: #656565;

  --body-background: #f5f3f4;

  --colour-theme-accent-main: #e9ff70;

  
  --padding-section-seperator: 10rem;
  --padding-large: 5rem;
  --padding-medium: 2.5rem;
  --padding-small: 1.25rem;
  --padding-xsm: .625rem;

}

body {
  background-color: var(--body-background);
}
.body__background {
  background-color: var(--body-background);
}
main {
  min-height: 100dvh;
} 
input {
  outline: none;
}

.times {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}
/* HEADING GRID */


.module__grid {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 1fr;
  grid-template-rows: 2fr;
  grid-template-areas: "Name Name Grade Grade Year Year Search";
}

#name {
  grid-area: "Name";
}
#grade {
  grid-area: "Grade";
}
#year {
  grid-area: "Year";
}
#search {
  grid-area: "Search";
}

@media screen and (max-width: 800px) {
  .module__grid {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-rows: 2fr;
    grid-template-areas: "Name Name Name Grade Year";
  }
}

/* FONT SIZING */

.text__m_body {
  font-size: 35px;
  line-height: 40px;
}

/* COLOUR SETS TEXT */

h1,
h2,
h3,
h4,
h5,
h6, 
p {
  color: var(--standard-text-black);
  /* letter-spacing: -.5px; */
}

/* Classes for writing */

.button__text_colour {
  color: #343434;
}
.button__colour {
  color: var(--colour-theme-accent-main);
}

/* End of classes for writing */

.text__c_black {
  color: var(--standard-text-black);
}
.text__c_reduced_black {
  color: var(--standard-text-opacity-reduced-black);
}
.text__c_contrast {
  color: var(--standard-text-contrast);
}
.text__c_contrast_reduced_opacity {
  color: var(--standard-text-contrast-reduced-opacity);
}
.text__c_contrast_reduced_opacity_drk {
  color: var(--standard-text-contrast-reduced-opacity-drk);
}
/* COLOUR SETS HTML */

.accent__c_main {
  background-color: var(--colour-theme-accent-main);
}
.accent__c_black {
  background-color: var(--colour-theme-accent-main);
}
.accent__c_white {
  background-color: var(--body-background);
}

.bg-gif {
  background-image: url(../public/videos/home__page_background_gif.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* PADDING */

/* Standard X Padding */

.standard__x_padding {
  padding-left: 1.75rem;
  padding-right: 1.75rem;  
}

.standard__x_padding_inner {
  padding-left: 12rem;
  padding-right: 12rem;
}

/* BORDERS */

.border__left {
  border-left: 1px solid #070707;
}
.border__right {
  border-right: 1px solid #070707;
}

.bt {
  border-top: 2px solid var(--standard-text-black);
}
.bb{
  border-bottom: 2px solid var(--standard-text-black);
}

/* Phone Breakpoint */

@media screen and (max-width: 800px) {
  .standard__x_padding {
    padding-left: 0.5rem;
    padding-right: 0.5rem;  
  }
  .standard__x_padding_inner {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  .pxs-t {
    padding-top: .625rem;
  }
  .pxs-b {
    padding-bottom: .625rem;
  }
  .pxs-y {
    padding-top: .625rem;
    padding-bottom: .625rem;
  }
  
  .ps-t {
    padding-top: 1.25rem;
  }
  .ps-b {
    padding-bottom: 1.25rem;
  }
  .ps-y {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }
  
  .pm-t {
    padding-top: 2.5rem;
  }
  .pm-b {
    padding-bottom: 2.5rem;
  }
  .pm-y {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  
  .pl-t {
    padding-top: 5rem;
  }
  .pl-b {
    padding-bottom: 5rem;
  }
  .pl-y {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  
  .p-section-t {
    padding-top: 10rem;
  }
  .p-section-b {
    padding-bottom: 10rem;
  }
  .p-section-y {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
}

@media screen and (min-width: 1024px) {
  .module__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr;
    grid-template-areas: "Name Grade Year Search";
    gap: var(--padding-small);
  }
}

/* lg */
@media screen and (min-width: 1023px) {
  .standard__x_padding {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }
  .standard__x_padding_inner {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .pxs-t {
    padding-top: 1.25rem;
  }
  .pxs-b {
    padding-bottom: 1.25rem;
  }
  .pxs-y {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }
  
  .ps-t {
    padding-top: 2.5rem;
  }
  .ps-b {
    padding-bottom: 2.5rem;
  }
  .ps-y {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  
  .pm-t {
    padding-top: 5rem;
  }
  .pm-b {
    padding-bottom: 5rem;
  }
  .pm-y {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  
  .pl-t {
    padding-top: 10rem;
  }
  .pl-b {
    padding-bottom: 10rem;
  }
  .pl-y {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
  
  .p-section-t {
    padding-top: 10rem;
  }
  .p-section-b {
    padding-bottom: 10rem;
  }
  .p-section-y {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }  
}
/* xl */
@media screen and (min-width: 1280px) {
  .standard__x_padding {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
  .standard__x_padding_inner {
    padding-left: 8rem;
    padding-right: 8rem;
  }
  .pxs-t {
    padding-top: 1.25rem;
  }
  .pxs-b {
    padding-bottom: 1.25rem;
  }
  .pxs-y {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }
  
  .ps-t {
    padding-top: 2.5rem;
  }
  .ps-b {
    padding-bottom: 2.5rem;
  }
  .ps-y {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  
  .pm-t {
    padding-top: 5rem;
  }
  .pm-b {
    padding-bottom: 5rem;
  }
  .pm-y {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  
  .pl-t {
    padding-top: 10rem;
  }
  .pl-b {
    padding-bottom: 10rem;
  }
  .pl-y {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
  
  .p-section-t {
    padding-top: 20rem;
  }
  .p-section-b {
    padding-bottom: 20rem;
  }
  .p-section-y {
    padding-top: 20rem;
    padding-bottom: 20rem;
  }
}
/* Anything above 1480px */
@media screen and (min-width: 1480px) {
  .standard__x_padding {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
  .standard__x_padding_inner {
    padding-left: 8rem;
    padding-right: 8rem;
  } 
  .pxs-t {
    padding-top: 1.25rem;
  }
  .pxs-b {
    padding-bottom: 1.25rem;
  }
  .pxs-y {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }
  
  .ps-t {
    padding-top: 2.5rem;
  }
  .ps-b {
    padding-bottom: 2.5rem;
  }
  .ps-y {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  
  .pm-t {
    padding-top: 5rem;
  }
  .pm-b {
    padding-bottom: 5rem;
  }
  .pm-y {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  
  .pl-t {
    padding-top: 10rem;
  }
  .pl-b {
    padding-bottom: 10rem;
  }
  .pl-y {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
  
  .p-section-t {
    padding-top: 20rem;
  }
  .p-section-b {
    padding-bottom: 20rem;
  }
  .p-section-y {
    padding-top: 20rem;
    padding-bottom: 20rem;
  }
}

@media screen and (min-width: 1600px) {
  .standard__x_padding {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
  .standard__x_padding_inner {
    padding-left: 12rem;
    padding-right: 12rem;
  } 
}


.reset__line_height{
  line-height: 1;
}


.hover__menu_item:hover {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}


/* MISC */

.hover__transition {
  transition: all 0.3s ease-in-out;
  padding-left: 0px;
  padding-right: 0px;
}
.hover__transition:hover {
  padding-left: 10px;
  padding-right: 10px;
}